@model IEnumerable<CoverType>
@{
    ViewData["Title"] = "Index";
}

<div>
    <div class="row my-3">
        <div class="col-6">
            <h2 class="text-primary mb-0">Categories</h2>
        </div>
        <div class="col-6">
            <a class="btn btn-primary float-end mb-2" asp-controller="CoverType" asp-action="Create">Create new Cover Type</a>
        </div>
    </div>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var obj in Model)
                {
                    <tr>
                        <td>@obj.Name</td>
                        <td><a class="btn btn-primary" asp-controller="CoverType" asp-action="Edit" asp-route-id="@obj.Id">Edit</a></td>
                        <td><a class="btn btn-danger" asp-controller="CoverType" asp-action="Delete" asp-route-id="@obj.Id">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

