<div>
    <div>
        <div class="row-1">
            <h2 class="text-primary row-1">Products</h2>
            <a class="btn btn-primary float-end row-1" asp-controller="Product" asp-action="Upsert">Create new Product</a>
        </div>
        @if (TempData["success"] != null)
        {
            <h2>@TempData["success"]</h2>
        }
    </div>
    <div>
        <table id="prodTable">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>ISBN</th>
                    <th>Price</th>
                    <th>Author</th>
                    <th>Category</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/product.js"></script>
}