<div>
    <div>
        <h2>Products</h2>
        <a asp-controller="Product" asp-action="Upsert">Create new Product</a>
        @if (TempData["success"] != null)
        {
            <h2>@TempData["success"]</h2>
        }
    </div>
    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>ISBN</th>
                    <th>Price</th>
                    <th>Author</th>
                    <th>Category</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>