<div>
        <div class="row my-3">
            <div class="col-6">
                <h2 class="text-primary mb-0">Products</h2>
            </div>
            <div class="col-6">
                <a class="btn btn-primary float-end mb-2" asp-controller="Company" asp-action="Upsert">Create new Company</a>
            </div>
        </div>
        @if (TempData["success"] != null)
        {
            <h3 class="p-3">@TempData["success"]</h3>
        }
    </div>
    <div>
        <table id="compTable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>State</th>
                    <th>City</th>
                    <th>Address</th>
                    <th>Number</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>

@section Scripts{
    <script src="~/js/company.js"></script>
}